<?xml version="1.0" encoding="UTF-8"?>

<suite name="E2E automation Test Suite" verbose="1" parallel="none">

    <listeners>
        <listener class-name="init.TestListener"/>
    </listeners>

    <test name="shopify :-search product Tests">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="testScenarios.SearchAndAdd"/>
        </classes>
    </test>

    <!-- 
    <test name="shopify :-increase product quantity Tests">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="testScenarios.IncreaseProductQuantity"/>
        </classes>
    </test>

    <test name="shopify :-select feature product Tests">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="testScenarios.FeaturedCollection"/>
        </classes>
    </test>

    <test name="shopify :-multiple product size Tests">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="testScenarios.MultipleProductSizes"/>
        </classes>
    </test>

    <test name="shopify :-sorted based on names">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="testScenarios.CatalogData"/>
        </classes>
    </test>
-->

</suite>
